
.navbar {
    display: block;
    text-align: center;
    background-color: lightskyblue
}

#content-left {
    margin-top: 50px;
}

#content-right {
    margin-top: 50px;
    padding-left: 30px;
}

h2 {
    border: solid black;

}

h3 {
    width: 8rem;
    font-size: small;
    text-align: center;
    justify-content: space-between;
    background-color: lightskyblue;
    border-style: solid black;
    border-radius: 0.9rem;
}
